<h1>
  {{categoria.nome}}
</h1>
{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">
    <h3>{{this.titulo}}</h3>
    <p>{{this.descricao}}</p>
    <a href="/postagem/{{this.slug}}"><button class="btn btn-success">Leia mais</button></a>
    <hr>
    <small>Data de publicação: {{this.createdAt}}</small>
  </div>
</div>
{{else}}
<div class="alert alert-danger mt-4" role="alert">
  Nenhuma postagem cadastrada!
</div>
{{/each}}